lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.orig
*.dmp
*.tmp

pids
logs
results

node_modules
coverage
karma_html
.sass-cache
.DS_Store

config/*.local.*

packages/*.nupkg
iisnode/
*.map

app/themes/default/main*
app/common/dist*

app/directives/directive-templates.js
