<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
      <handlers>
        <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
      </handlers>
      <rewrite>
        <rules>
          <rule name="Redirect http to https" stopProcessing="true">
             <match url="(.*)" />
             <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                 <add input="{HTTPS}" pattern="^OFF$" />
             </conditions>
             <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
          </rule>
          <rule name="DynamicContent">
             <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
             </conditions>
             <action type="Rewrite" url="app.js" />
          </rule>
        </rules>
      </rewrite>
      <iisnode
        node_env="%node_env%"
        nodeProcessCountPerApplication="0"
        maxConcurrentRequestsPerProcess="1024"
        maxNamedPipeConnectionRetry="100"
        namedPipeConnectionRetryDelay="250"
        maxNamedPipeConnectionPoolSize="512"
        maxNamedPipePooledConnectionAge="30000"
        asyncCompletionThreadCount="0"
        initialRequestBufferSize="4096"
        maxRequestBufferSize="65536"
        watchedFiles="iisnode.yml"
        uncFileChangesPollingInterval="5000"
        gracefulShutdownTimeout="60000"
        loggingEnabled="true"
        logDirectory="iisnode"
        debuggingEnabled="false"
        debugHeaderEnabled="false"
        debuggerPortRange="5058-6058"
        debuggerPathSegment="debug"
        maxLogFileSizeInKB="128"
        maxTotalLogFileSizeInKB="1024"
        maxLogFiles="20"
        devErrorsEnabled="false"
        flushResponse="false"
        enableXFF="true"
        promoteServerVars=""
        configOverrides="iisnode.yml"
        nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot; app #{UiArgs}"
     />
   </system.webServer>
 </configuration>
