<div class="form-group">
  <label for="field_name">Name</label>
  <input id="field_name" type="text" class="form-control" ng-model="task.name">
</div>
<div class="form-group">
  <label for="field_due">Due</label>
  <input id="field_due" type="date" class="form-control" ng-model="task.due">
</div>
<div class="form-group">
  <label for="field_status">Status</label>
  <input id="field_status" type="text" class="form-control" ng-model="task.status">
</div>
<div class="form-group">
  <label for="field_assigned">Assigned</label>
  <input id="field_assigned" type="text" class="form-control" ng-model="task.assigned">
</div>