.card-title {
  font-weight: 600;
}

leads-list > .card:not(:last-child) {
  border-width: 1px 1px 0 1px;
}

.card {
  position: relative;
  display: block;
  background-color: white;
  border: 1px solid $sg_light_grey_border;
  padding: 1em;
  small {
    font-size: 1em;
    color: $sg_light_grey;
  }
  > .row-flush {
    padding-left: 0;
    padding-right: 0;
  }
  

  &.active {
    background-color: $sg_baby_blue;
  }
}

.card-new {
  .card-title {
    color: $sg_secondary;
  }
  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    width: 3px;
    background-color: $sg_primary;
    height: calc(100% - 1px);
    transform: translateY(-50%);
  }
}

a.card {
  color: $sg_dark_grey;
  &:not(.active) {
    &:hover, &:focus {
      background-color: darken(#eee, 5%);
    }
  }
}

.side-panel {
  position: relative;
  background-color: white;
  padding: 1em;
  .close-button {
    color: $sg_light_grey;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  > * {
    display: block;
  }
  > monarch-sidebar {
    width: 200px;
    background-color: white;
    border-color: $sg_light_grey_border;
    border-style: solid;
    border-width: 1px 0 1px 0;
  }
  > monarch-page {
    border: 1px solid $sg_light_grey_border;
    flex-grow: 1;
    background-color: white;
  }
  > monarch-side-panel {
    border-color: $sg_light_grey_border;
    border-style: solid;
    border-width: 1px 0 1px 0;
    flex-grow: 1;
    min-width: 35rem;

  }
}

.filter-bar {
  padding: 1em;
}

.large-list {
  > dt {
    color: $sg_light_grey;
    padding-top: 0.5em;
    &:not(:first-child) {
      border-top: 1px solid $sg_light_grey_border;
    }
  }
  > dd {
    padding-bottom: 0.5rem;
    font-size: 1.25em;
  }
}




