@import 'monarchVariables';


@mixin big-drop-shadow() {
  box-shadow: 0 1px 30px rgba(black, 0.1);
}

html {
  font-size: 13px;
}

body {
  background: $sg_light_grey_background;
  font-family: $sg_font_family;
  margin: 0;
  color: $sg_dark_grey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sg_font_family;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4,
.page-actions > li > a {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: 600;
}

%basic-link {
  color: $sg_secondary;
  &:hover, &:focus {
    color: $sg_primary;
  }
}


a {
  @extend %basic-link;
}

.row-full {
  max-width: 100%;
}


.button {
  border-radius: 4px;
  text-transform: uppercase;
}



.button, .button.secondary {
  color: $sg_secondary;
  background-color: white;
  border: 1px solid $sg_light_grey_border;
  &:hover, &:focus {
    border-color: $sg_primary;
    color: white;
    background-color: $sg_primary;
  }
}

.button.primary {
  background-color: $sg_primary;
  border: none;
}

.page-header {
  margin-top: 1em;
  margin-bottom: 1em;
  & + .filter-bar {
    border-top: 1px solid $sg_light_grey_border;
  }
}

.page-top-wrapper {
  border-top: none;
}

.page-actions {
  margin-top: 0.25em;
  float: right;
}

.symbol-defs {
  display: none;
}

.ih-logo-svg {
  margin: 0;
  fill: currentColor;
}

.icon {
  margin: 0;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.off-canvas-wrapper,
.off-canvas-wrapper-inner,
.off-canvas-content {
  min-height: 100vh;
}

.off-canvas-content {
  background-color: $sg_light_grey_background;
  display: flex;
  flex-flow: column;
}

@media (min-width: 992px) {
  .monarch-site-header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .monarch-site-body {
    padding-top: 53px;
  }
}



.off-canvas-wrapper {
  background-color: $sg_primary;
  .close-button {
    color: white;
  }
}

.off-canvas {
  background: none;
  .menu a {
    color: white;
    &:hover, &:focus {
      background-color: $sg_secondary;
    }
  }
}

.logo-container {
  display: block;
  padding: 0.7rem 1rem;
  max-width: 200px;
}

.ih-logo {
  display: block;
  width: 100%;
  padding-bottom: 20.113314%;
  background-repeat: no-repeat;
  background-image: url('IH_logo_teal.svg');
  background-size: contain;
}




.page-wrapper {
  padding-top: 1em;
  padding-bottom: 1em;
}

.hidden {
  display: none;
}

table thead, table tfoot {
  background: none;
}

table thead {

}

table thead tr th {
  border-top: 1px solid $sg_light_grey_border;
}



table tbody tr:nth-child(even) {
  background: none;
}

table thead th, table tbody th {
  text-align: left;
  text-transform: uppercase;
  color: $sg_medium_grey;
  font-weight: 400;
}

table thead tr th:first-child,
table tbody tr th:first-child,
table tbody tr td:first-child {
  padding-left: 1em;
}

table tbody tr {
  border-top: 1px solid $sg_light_grey_border;
}

table tbody tr:first-child {
  border-top: 2px solid $sg_light_grey_border;
}


.row-flush {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  > .column {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

@media screen and (min-width: 40em) {
  .column {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


.dropdown.menu > li.is-dropdown-submenu-parent > a {
  > h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  &.button {
    &::after {
      border-color: $sg_secondary transparent transparent;
    }
    &.primary {
      &::after {
        border-color: white transparent transparent;
      }
    }
    &:hover, &:focus {
      &::after {
        border-color: white transparent transparent;
      }
    }
  }
  &:not(.button) {
    &::after {
      border-color: $sg_secondary transparent transparent;
    }
    &:hover, &:focus {
      &::after {
        border-color: $sg_primary transparent transparent;
      }
    }
  }
  
}

.accordion {
  background: $sg_light_grey_background;
}

.accordion-item.is-active {
  > .accordion-content {
    display: block;
  }
}

.accordion-title {
  text-transform: uppercase;
  @extend %basic-link;
  font-size: 1em;
  border: none;
  border-top: 1px solid $sg_light_grey_border;
  &::before {
    content: '';
  }
  &:hover, &:focus {
    background: none;
  }
}

:last-child:not(.is-active) > .accordion-title {
  border-color: $sg_light_grey_border;
}

.is-active > .accordion-title::before {
  content: '';
}

.accordion-content {
  border: none;
  background: none;
  padding-top: 0;
}

.card-list {
  display: block;
}

.menu-2-across {
  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
  columns: 2;
}

.no-page-heading {
  padding-top: 1rem;
}

// Forms

label {
  font-size: 1em;
}

hr {
  border-bottom-color: $sg_light_grey_border;
}

.card-title {
  font-weight: 600;
}


.card-list > .card:not(:last-child) {
  border-width: 1px 1px 0 1px;
}

.card-list.card-flush > .card {
  border-left-width: 0;
  border-right-width: 0;
}


.card {
  position: relative;
  display: block;
  background-color: white;
  border: 1px solid $sg_light_grey_border;
  padding: 1em;
  small {
    font-size: 1em;
    color: $sg_light_grey;
  }
  > .row-flush {
    padding-left: 0;
    padding-right: 0;
  }
  

  &.active {
    background-color: $sg_baby_blue;
  }
}

.card-new {
  .card-title {
    color: $sg_secondary;
  }
  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    width: 3px;
    background-color: $sg_primary;
    height: calc(100% - 1px);
    transform: translateY(-50%);
  }
}

a.card {
  color: $sg_dark_grey;
  &:not(.active) {
    &:hover, &:focus {
      background-color: darken(#eee, 5%);
    }
  }
}

.side-panel {
  position: relative;
  background-color: white;
  padding: 1em;
  .close-button {
    color: $sg_light_grey;
  }
}



.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  min-height: 800px;
  @include big-drop-shadow();
  > * {
    display: block;
   
  }
  > monarch-sidebar {
    background-color: white;
    width: 250px;
  }
  > monarch-page {
    flex-grow: 1;
    border-left: 1px solid $sg_light_grey_border;
    border-right: 1px solid $sg_light_grey_border;
    transition: width 200ms;

  }
  > monarch-side-panel {
    flex-grow: 1;
  }
}



.filter-bar {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
}

.filter-bar-left {
  flex-grow: 1;
}
.filter-bar-right {
  flex-shrink: 1;
}

.large-list {
  > dt {
    text-transform: uppercase;
    font-weight: 400;
    color: $sg_medium_grey;
    padding-top: 0.5em;
    &:not(:first-child) {
      border-top: 1px solid $sg_light_grey_border;
    }
  }
  > dd {
    padding-bottom: 0.5rem;
    font-size: 1.25em;
  }
}

.stat {
  font-size: 3.5em;
  font-weight: 300;
}

.stat-difference {
  color: $sg_medium_grey;
  font-size: 1.25em;
}

@import 'common/header/header';
@import 'common/sidebar/sidebar';
@import 'common/page/page';
@import 'common/tile/tile';
@import 'components/dashboard/dashboard';
@import 'components/audience/audience';
@import 'components/campaigns/campaigns';
@import 'components/crm/crm';
@import 'components/library/library';
@import 'components/reports/reports';
@import 'components/content-apps/content-apps';
@import 'components/admin/admin';
