<div class="form-group">
  <label for="field_taskType">Task Type</label>
  <select
    ng-model="task.TaskTypeName"
    id="field_taskType"
    class="form-control"
    ng-options="taskType for taskType in tasks.types">
    <option value="">Select</option>
  </select>
</div>
<div class="form-group">
  <label for="field_name">Name</label>
  <input id="field_name" type="text" class="form-control" ng-model="task.Name">
</div>
<div class="form-group">
  <label for="field_due">Due</label>
  <input id="field_due" type="date" class="form-control" ng-model="task.DateDue">
</div>
