@import "iui-general";
@import "_table";
@import "_lists";

.container-fluid {
  max-width: 1000px;
}

.main-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-item-title, .list-item-text {
  float: left;
}

.list-item-title {
  width: calc(100% - 140px - 10px);
}

.list-item-text {
  padding-left: 10px;
  width: 140px;
}