@import "iui-general";
@import "_table";
@import "_lists";

.main-nav {
  margin-left: -15px;
  margin-right: -15px;
}

.container-fluid {
  max-width: 1000px;
}

.main-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-item-title, .list-item-text {
  float: left;
}

$listDateSpacing: 10px;
$listDateValueWidth: 90px;
$listDateFieldWidth: 90px;

$totalListDateWidth: $listDateSpacing + $listDateFieldWidth + $listDateSpacing + $listDateValueWidth;

.list-item-title {
  width: calc(100% - #{$totalListDateWidth});
}


.list-item-text {
  padding-left: $listDateSpacing;
  width: ($totalListDateWidth - $listDateSpacing);
  > .key-value-field,
  > .key-value-value {
    float: left;
    display: block;
    text-align: right;
  }
  > .key-value-field {
    padding-right: $listDateSpacing;
    width: $listDateFieldWidth;
    
  }
  > .key-value-value {
    width: $listDateValueWidth;
  }
}