@import "iui-general";

@import "_table";

@import "_lists";

@import "_charts";

.container-fluid {
  max-width: 1000px;
}



.main-nav {
  margin: 20px -15px;
}

.page-actions {
  padding-bottom: 10px;
  text-align: right;
}

.page-subheader {
  color: $sg_light_grey;
  font-size: $base-font-size;
  font-weight: 400;
  text-transform: uppercase;
}

// Stylying of Progress bar - getting rid of Bootstrapfullness - if approved by the team - we can move this to the iui-general repo
.progress {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
}


// Link list
.list-item-title, .list-item-text {
  float: left;
}

$listDateSpacing: 10px;
$listDateValueWidth: 90px;
$listDateFieldWidth: 90px;

$totalListDateWidth: $listDateSpacing + $listDateFieldWidth + $listDateSpacing + $listDateValueWidth;

.list-item-title {
  width: calc(100% - #{$totalListDateWidth});
}

.list-item-text {
  padding-left: $listDateSpacing;
  width: ($totalListDateWidth - $listDateSpacing);
  > .key-value-field,
  > .key-value-value {
    float: left;
    display: block;
    text-align: right;
  }
  > .key-value-field {
    padding-right: $listDateSpacing;
    width: $listDateFieldWidth;
    
  }
  > .key-value-value {
    width: $listDateValueWidth;
  }
}

.list-item-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  > .progress {
    height: 5px;
    margin-bottom: 0;
    background: none;
  }
}

.activity-progress-bar {
  // height of input button is 34px; height of progressbar is 20px; 34-20 = 14px; 1/2 of 14 is 7px;
  padding-top: 7px;
  display: block;
}

// Holy selectors batman! TODO: add ability to add class to `a` tag for iui-link list
.list-group-progress-bars > .list-group > .list-group-item > .list-group-item-link {
  padding-top: 15px;
  padding-bottom: 15px;
  > .icon-arrow-right {
    top: 9px;
  }
}
